footer {
    background-color: map-get($map: $colors, $key: pink);
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

h6 {
    font-size: 1rem; 
    padding-top: 10px;
    padding-left: 10px;
    margin: 0;
}

.SM {
    font-size: 1.25rem;
    padding-top: 10px;
    display: flex;
    align-content: $position;
    &:hover {
        font-weight: bolder;
        cursor: pointer;
    }
}

ul {
    margin: 0;
    padding-left: 10px;
    li {
        list-style: map-get($map: $list-style, $key: none);
    }
}