.form {
    display: flex;
    flex-direction: column;
    justify-self: $position;
    width: fit-content;
    background-color: map-get($map: $colors, $key: pink);
    border: $border;
    border-radius: 10px;
    @include pad-mar (10px, 15px);
}

.input {
    @include pad-mar (5px, 10px);
    width: 600px;
    background-color: map-get($map: $colors, $key: lightpink);
    font-size: 1.25rem;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}