img {
    @include medidas (100%, 100%);
    width: max-content;
    display: flex;
    align-self: $position;
}

iframe {
    @include medidas (620px, 413px);
    display: flex;
    align-self: $position;
    padding-bottom: 15px;
}

.maps {
    @include medidas (38.75rem, 25.8125rem);
}

.pasteleria1 {
    @include medidas (35.188rem, 47.313rem);
}

.products {
    @include medidas (14.58331rem, 21.875rem);
    @include pad-tb (15px, 15px);
}

.pasteleria2 {
    @include medidas (24.5rem, 34.125rem);
}

.receta {
    @include medidas (100%, auto);
    @include pad-tb (25px, 25px);
}

.LSM {
    @include medidas (2.125rem, 2.125rem);
    padding-right: 5px;
}

.bolsa {
    @include medidas (1.5rem, 1.5rem);
    align-items: $position;
}