.h3 {
    font-size: 2.5rem;
    text-align: $position;
    text-decoration: underline;
}

.div-p {
    @include flex (column, auto, center);
    @include pad-mar (10px, 10px);
    @include medidas(400px, 500px);
    border: $border;
}
.col-xxl-4 {
    display: flex;
    justify-content: $position;
}
