.div-p {
    @include flex (column, auto, center);
    padding: 10px;
    margin: 10px;
    border: $border;
    @include medidas(400px, 500px)
}
.col-xxl-4 {
    display: flex;
    justify-content: center;
}
