@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* 
font-family: 'Dancing Script', cursive;
font-family: 'Philosopher', sans-serif; 
*/

* {margin: 0;
    padding: 0;}
  
body {
    font-family: 'Philosopher', sans-serif;
    color: #816F63;
}

/* Logo */
.h2 {
    font-family: 'Dancing Script', cursive;
    color: black;
    font-size: 2.5rem;
    padding-left: 5px;
    padding-right: 5px;
}

.logo {
    width: 6.5625rem;
    height: 6.6875rem;
}

.logoprincipal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

/*Header*/
header {
    background-color: #F5E3E0;
    padding: 15px;
    width: 100%;
}

.nav-link {
    font-size: 1rem;
}
.navbar-collapse {
    flex-grow: unset;
    align-items: flex-end;
}
.logoopciones {
    width: 24px;
    height: 24px;
}
.navbar-toggler {
    box-shadow: none;
    border: none;
    background-color: #F5E3E0;
}
.navbar-toggler:hover {
    touch-action: none;
    box-shadow: none;
}

/*Footer*/
footer {
    background-color: #F5E3E0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

h6 {
    font-size: 1rem;
    padding-top: 10px;
    padding-left: 10px;
    margin: 0;
}

.SM {
    font-size: 1.25rem;
    padding-top: 10px;
    display: flex;
    align-content: center;
}
.SM:hover {
    font-weight: bolder;
    cursor: pointer;
}

ul {
    margin: 0;
    padding-left: 10px;
}

li {
    list-style: none;
}

/*Main*/
main {
    background-color: #F7F6F2;
    padding: 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    padding: 10px;
}

p {
    font-size: 2rem;
    text-align: justify;
    padding: 15px;
}

.list {
    font-size: 2.25rem;
}
.li {
    font-size: 2rem;
}

h3 {
    font-size: 2.25rem;
    text-align: center;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
}
.r-section {
    padding-left: 40px;
}
.r-section ul li {
    list-style: disc;
}
.r-section ul {
    padding: 20px;
}
.r-section ol li {
    list-style: decimal;
}
.r-section ol {
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-around;
}
.div-p {
    display: flex;
    flex-direction: column;
    align-content: center;
    transition: background-color 0.5s;
}
.div-p:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: #F5E3E0;
}

/*Fotos*/
img {
    width: 100%;
    width: max-content;
    height: 100%;
    display: flex;
    align-self: center;
}

iframe {
    width: 620px;
    height: 413px;
    display: flex;
    align-self: center;
}

.maps {
    width: 38.75rem;
    height: 25.8125rem;
}

.pasteleria1 {
    width: 35.188rem;
    height: 47.313rem;
}

.products {
    width: 14.58331rem;
    height: 21.875rem;  
    padding-top: 15px;
    padding-bottom: 15px;
}

.pasteleria2 {
    width: 24.5rem;
    height: 34.125rem;
}    

.receta {
    width: 22.75rem;
    height: 30.323rem;
}
    
.LSM {
    width: 2.125rem;
    height: 2.125rem;
    padding-right: 5px;
}

.bolsa {
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
}

@media (max-width: 991px) {
    .h1 {
        font-size: 2rem;
        padding-top: 15px;
    }
    .p {
        font-size: 1.5rem;
        padding: 5px;
    }
    .list {
        font-size: 1.75rem;
    }
    .li {
        font-size: 1.5rem;
    }

    .h2 {
        font-size: 2rem;
        color: black;
    }
}
@media (max-width: 767px){
    .logo {
        width: 5rem;
        height: 5rem;
    }
    .h2 {
        font-size: 1.65rem;
        color: black;
    }
    .LSM {
        width: 1.5rem;
        height: 1.5rem;
    }
    .SM {
        font-size: 1rem;
    }
    .h6 {
        font-size: 0.75rem;
    }
    .h3 {
        font-size: 1.5rem;
    }
}
@media (max-width: 575px) {
    .nav-link {
        font-size: 0.75rem;
    }
    .logo {
        width: 3.5rem;
        height: 3.5rem;
    }
    .h2 {
        font-size: 1.5rem;
        color: black;
    }
    .LSM {
        width: 1.25rem;
        height: 1.25rem;
    }
    .SM {
        font-size: 0.75rem;
    }
    .h6 {
        font-size: 0.5rem;
    }
    .h1 {
        font-size: 1.5rem;
    }
    .p {
        font-size: 1rem;
        padding: 5px;
    }
    .list {
        font-size: 1.25rem;
    }
    .li {
        font-size: 1rem;
    }
}
@media (max-width: 465px) {
    .logo {
        width: 3rem;
        height: 3rem;
    }
    .h2 {
        font-size: 1rem;
        color: black;
    }
    .LSM {
        width: 1rem;
        height: 1rem;
    }
    .SM {
        font-size: 0.60rem;
    } 
}
   
    