//flex
@mixin flex ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

//alto y ancho
@mixin medidas ($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

//padding & margin
@mixin pad-mar ($padding, $margin) {
    padding: $padding;
    margin: $margin;
}

@mixin mar-lr ($marl, $marr) {
    margin-left: $marl;
    margin-right: $marr;
}

@mixin pad-tb ($padt, $padb) {
    padding-top: $padt;
    padding-bottom: $padb;
}

@mixin pad-lr ($padl, $padr) {
    padding-top: $padl;
    padding-bottom: $padr;
}